body{
  font-size: 12px;
  background-color: azure;
}

.caixa-banner{
  background-image: url(../IMG/photo.png);
  background-size: cover;
  background-position: center;
  height: 85vh;
  color: rgb(50, 82, 3);     
  display: flex;
  justify-content: space-around;
  align-items: flex-end;   
  text-align: center;
  padding: 100px;
}

.título1{
  font-size: 2rem ;
  text-shadow: 2px 2px rgb(50, 82, 3);
}

h1 {
  font-size: 58px;
}

p {
  font-size: 28px;
}

.subtítulo1{
  text-shadow: 2px 2px rgb(50, 82, 3);;

}

.link-sobre{
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(50, 82, 3);
  font-weight: bold;
  background-color: white;
  padding: 8px 20px;
  border-radius: 20px;
}

.link-cv{
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: rgb(19, 31, 1);
  padding: 8px 20px;
  border-radius: 20px;
}

.caixa-sobre{
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.nome{
  font-weight: bold;
}

.lado1{
  width: 35%;
  text-align: justify;
}

.margin-texto{
  margin-bottom: 40px;
}

.lado2{
  width: 35%;
}

h3{
  font-size: 25px;
}

ul{
  line-height: 1.8;
}

.titulo-sobre{
  margin-left: 100px;
  font-size: 35px;
  color: #413e3e;
}

.caixa-links{
 margin-top: 100px;
 margin-bottom: 50px;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

.imagem{
  width: 100%;
}

.div{
  width: 30%;
}

.links{
  background-color: rgb(19, 31, 1);
  width: 170px;
  height: 170px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.icone{
  width: 50px;
  height: 50px;
  margin-top: 30px;
}


@media (max-width: 600px) {
  .caixa-banner{
    width: auto;
    height: 50vh;
  }

  .caixa-sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lado1{
     width: 80%;
     text-align: center;
     display: contents;
  }

  .lado2{
     width: 80%;
     text-align: center;
  }

  .titulo-sobre{
     margin: 20px;
     text-align: center;
     font-size: 30px;
  }

  .links{
     margin-top: 10px;
     width: 250px;
     height: 250px;
     font-size: 20px;
  }

  .icone{
     margin-top: 40px;
  }
}